
.container {
  display: grid;
  grid-gap: 10px;
  grid-template: 200px 100px
  200px / 200px 1fr;
}
.one {
  grid-row-start: 1;
  grid-row-end: -1;
}
/* OR  */
.one {
  grid-row: 1 / -1;
}
/* OR */
.one {
  grid-row: 1 / 4;
}
/* OR */
.one {
  grid-row: 1 / span 3;
}
